<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <script>
            function openLink(){
                window.open("[[${dto.detailURL}]]");
            }
        </script>
        <h1 class="mt-4">공모정보</h1>

        <div class="form-group">
            <label >종목코드</label>
            <input type="text" class="form-control" name="StockCode" th:value="${dto.stockCode}" readonly  onclick="openLink()">
        </div>

        <div class="form-group">
            <label >종목명</label>
            <input type="text" class="form-control" name="name" th:value="${dto.name}" readonly onclick="openLink()">
        </div>
        <div class="form-group">
            <label >공모시작일</label>
            <input type="text" class="form-control" name="offeringDate" th:value="${dto.startDate}" readonly >

        </div>
        <div class="form-group">
            <label >공모종료일</label>
            <input type="text" class="form-control" name="offeringDate" th:value="${dto.endDate}" readonly >

        </div>
        <div class="form-group">
            <label >상장일</label>
            <input type="text" class="form-control" name="listedDate" th:value="${dto.dropYN}=='Y'?'공모철회':${dto.listedDate}" readonly>
        </div>
        <div class="form-group">
            <label >공모가</label>
            <input type="text" class="form-control" name="offeringPrice" th:value="${dto.offeringPrice}" readonly>
        </div>
        <div class="form-group">
            <label >환불일</label>
            <input type="text" class="form-control" name="refundDate" th:value="${dto.refundDate}" readonly>
        </div>
        <div class="form-group">
            <label >주간사</label>
            <input type="text" class="form-control" name="leadingFirm" th:value="${dto.leadingFirm}" readonly>
        </div>

        <div class="form-group">
            <table class="table table-striped" style="white-space:nowrap; overflow:auto" >
                <thead>
                <tr>
                    <th scope="col" width="100px">증권사</th>
                    <th scope="col" width="50px">배정수량</th>
                    <th scope="col" width="50px">청약한도</th>
                    <th scope="col" width="100px">비고</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="firm : ${firms}" >
                        <td>[[${firm.firmName}]]</td>
                        <td><script th:inline="javascript">
                      var temp = [[${firm.assignAmt}]];
                      document.write(temp.toLocaleString('ko-KR'));</script></td>
                        <td><script th:inline="javascript">
                      var temp = [[${firm.limitAmt}]];
                      document.write(temp.toLocaleString('ko-KR'));</script></td>
                        <td>[[${firm.RMK}]]</td>
                    </tr>
                </tbody>

            </table>
        </div>
        <!--        <a th:href="@{/guestbook/modify(gno = ${dto.gno}, page=${requestDTO.page})}"><button type="button" class="btn btn-primary">Modify</button></a>-->

        <!--        <a th:href="@{/guestbook/list(page=${requestDTO.page})}"><button type="button" class="btn btn-info">List</button></a>-->

        <a th:href="@{/po/IPOmodify(stockCode = ${dto.stockCode}, page=${requestDTO.page})}">
            <button type="button" class="btn btn-primary">Modify</button>
        </a>

        <a th:href="@{/po/IPOlist(page=${requestDTO.page})}">
            <button type="button" class="btn btn-info">List</button>
        </a>


    </th:block>

</th:block>